#?-----------?#
#?	Domains  ?#
#?-----------?#

www.ava.exposed {
	root * /var/www/pets/ava.exposed/public
	file_server

	#TODO: Add the Artemis 404 page
}

ava.exposed {
	redir * https://www.ava.exposed {
		permanent
	}
}
