{% extends "base.html" %}
{% block stylesheet %}
	<style type="text/css">
		body {
			background: #EEE
		}
		img {
			max-width: 100%;
		}
		img.logo {
			height: 128px;
			width: 349px;
			background: #F00;
			color: #FFF;
			font-weight: bolder;
			font-style: italic;
			font-size: 48px;
			box-shadow: 0 0 8px #FFF;
			margin-top: 1rem;
		}
		article {
			max-width: 900px;
			padding: 1em;
		}
		h1 {
			font-family: 'Fjalla One', sans-serif;;
		}
		h2 {
			font-size: 12px
		}
		code {
			color: #988;
			font-size: 1.125em;
			font-style: italic;
			white-space: pre-wrap;
		}
		p:first-of-type::first-letter {
				font-size: 1.5em;
		}
	</style>
{% endblock stylesheet %}
{% block body %}
	<a href="{{ config.base_url ~ '/' }}">
		<img
			src="{{ config.base_url ~ '/logo.png' }}"
			alt="  AVA EXPOSED"
			width="349"
			height="128"
			class="logo"
		>
	</a>
	<article>
	{% block post %}
		<h1>{{ page.title }}</h1>
		<h2>By <i>AVA EXPOSED Staff</i></h2>
		{{ page.content | safe }}
	{% endblock post %}
	</article>
{% endblock body %}